<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <title>Pessoas</title>
</head>
<body>

<h1>Pessoas</h1>

<table>
    <thead>
        <th>id</th>
        <th>Nome</th>
    </thead>
    <tbody>
    {% for linha in lista %}
        <tr>
            <td>{{ linha.idPessoa }}</td>
            <td>{{ linha.nome }}</td>
            <td><a href="/excluir?id={{ linha.idPessoa }}"> Excluir </a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>

<p><a href="/inserir"></a> Voltar</p>

</body>
</html>